auto-install-peers = true
engine-strict = true
node-linker = hoisted
node-version = 16.16.0
prefer-symlinked-executables = false
save-exact = true
save-prefix = ''
strict-peer-dependencies = false
use-node-version = 16.16.0