.button {
    border: 1px solid #00a9ff;
    width: 100%;
    padding: 5px;
}

.banner {
    background: hsla(270, 91%, 83%, 1);

    background: linear-gradient(0deg, hsla(270, 91%, 83%, 1) 45%, hsla(290, 56%, 56%, 1) 100%);

    background: -moz-linear-gradient(0deg, hsla(270, 91%, 83%, 1) 45%, hsla(290, 56%, 56%, 1) 100%);

    background: -webkit-linear-gradient(0deg, hsla(270, 91%, 83%, 1) 45%, hsla(290, 56%, 56%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D4ACFB", endColorstr="#B84FCE", GradientType=1 );
    border-radius: 11px;
}

.nav {
    position: fixed;
    bottom: 0;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
    background: #2b2e38;
    box-shadow: inset 0px 1px 0px #363a45;
    border-radius: 10px 10px 0px 0px;
    left: 0;
    padding: 5px;
}

.nav-item {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.nav-item--active {
    display: flex;
    align-items: center;
    background-color: #6b6d74;
    flex: 1;
    justify-content: center;
}
